body{
    background-color: black;
}
#mainDiv{
    position: fixed ;
    top: 10%; left: 35%;
    height: 500px;
    width: 500px; 
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    background-color: black;
    color: white;
}

#myImg{
    height: 65%;
    width: 100%;
    border: 2px solid rgb(238, 238, 231);
}

h1{
    text-transform: uppercase;
}


/* font-family: 'Libre Baskerville', serif; */